.searchBox {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  padding: 10px;
}

input {
  border-radius: 10px;
}

table {
  width: 70%;
  text-align: left;
}
td,
th {
  border: 2px solid #000;
}

/* .header {
  display: inline-block;
} */
